{% extends 'base.html' %}

{% block title %}Öğrenci Anasayfası{% endblock %}

{% block headerdropdown %}
    <li>
        <a class="dropdown-item" href="#">Özlük Bilgileri</a>
    </li>
    <li>
        <a class="dropdown-item" href="#">Şifremi Değiştir</a>
    </li>
{% endblock %}

{% block personalinfo %}
    <div class="text-start">Hoşgeldin, isim!</div>
    <div class="small text-secondary">5/A Sınıfı Öğrencisi</div>
{% endblock %}

{% block menu_eleman %}
<a href="{{ url_for('home') }}"><i class="fa-solid fa-earth-africa"></i> Anasayfa</a>
<a href="#"><i class="fa-solid fa-book"></i> Derslerim</a>
<a href="#"><i class="fa-solid fa-pen-ruler"></i> Sınavlar</a>
<a href="#"><i class="fa-solid fa-map"></i> Sınav Sonuçları</a>
<a href="#"><i class="fa-solid fa-person-circle-question"></i> Yoklama Durumu</a>
{% endblock %}

{% block content %}
<div class="row align-items-stretch justify-content-between mb-4">
    <div class="col">
        <div class="box bg-warning alinan-ders">
            <div class="fs-3 mb-0"><strong>13</strong></div>
            <div class="small">ders alıyorsun.</div>
        </div>
    </div>
    <div class="col">
        <div class="box bg-success sinav-sayisi">
            <div class="fs-3 mb-0"><strong>24</strong></div>
            <div class="small">sınavın var.</div>
        </div>
    </div>
    <div class="col">
        <div class="box bg-info aciklanan-sinav">
            <div class="fs-3 mb-0"><strong>16</strong></div>
            <div class="small">sınav açıklandı.</div>
        </div>
    </div>
    <div class="col">
        <div class="box bg-danger devamsizlik-sayisi">
            <div class="fs-3 mb-0"><strong>30</strong></div>
            <div class="small">gün devamsızlığın var.</div>
        </div>
    </div>
</div>

<div class="row mb-4">

    <div class="col-4">
        <div class="rounded-3 border p-3">
            <div class="border-bottom pb-2 mb-2">
                <strong>Bazı Dersler</strong>
            </div>
            <ul class="small">
                <li>Matematik</li>
                <li>Türkçe</li>
                <li>İngilizce</li>
                <li>Sosyal</li>
            </ul>
        </div>
    </div>

    <div class="col-4">
        <div class="rounded-3 border p-3">
            <div class="border-bottom pb-2 mb-2">
                <strong>Son Sınavlar</strong>
            </div>
            <ul class="small">
                <li>
                    <div class="row justify-content-between">
                        <div class="col">Matematik</div>
                        <div class="col-auto">
                            <div class="text-secondary">09.05.2022</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row justify-content-between">
                        <div class="col">Matematik</div>
                        <div class="col-auto">
                            <div class="text-secondary">09.05.2022</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row justify-content-between">
                        <div class="col">Matematik</div>
                        <div class="col-auto">
                            <div class="text-secondary">09.05.2022</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row justify-content-between">
                        <div class="col">Matematik</div>
                        <div class="col-auto">
                            <div class="text-secondary">09.05.2022</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-4">
        <div class="rounded-3 border p-3">
            <div class="border-bottom pb-2 mb-2">
                <strong>Gelinmeyen Günler</strong>
            </div>
            <ul class="small">
                <li>
                    <div class="text-danger">09.05.2022</div>
                </li>
                <li>
                    <div class="text-danger">09.05.2022</div>
                </li>
                <li>
                    <div class="text-danger">09.05.2022</div>
                </li>
                <li>
                    <div class="text-danger">09.05.2022</div>
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-12 mb-4">
        <div class="border p-3 rounded-3">
            <div class="border-bottom pb-2 mb-2">
                <strong>Başarım Grafiği</strong>
            </div>
            <div id="basarim" class="h-600"></div>
        </div>
    </div>

    {% if data2 %}
    <div class="col">
        <div class="border p-3 rounded-3">
            <div class="border-bottom pb-2 mb-2">
                <strong>{{ data2[0][10] }} Dersi Grafiği</strong>
            </div>
            <div id="basarim2" class="graph"></div>
        </div>
    </div>
    {% endif %}

    {% if data3 %}
    <div class="col">
        <div class="border p-3 rounded-3">
            <div class="border-bottom pb-2 mb-2">
                <strong>{{ data3[0][10] }} Dersi Grafiği</strong>
            </div>
            <div id="basarim3" class="graph"></div>
        </div>
    </div>
    {% endif %}

    {% if data4 %}
    <div class="col">
        <div class="border p-3 rounded-3">
            <div class="border-bottom pb-2 mb-2">
                <strong>{{ data4[0][10] }} Dersi Grafiği</strong>
            </div>
            <div id="basarim4" class="graph"></div>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}

{% block script %}
<script>
    anychart.onDocumentLoad(function () {
        // create a chart and set the data
        var chart = anychart.area([
            {% for i in data %}
            ["{{ i[14] }}", {{ i[9] }}],
            {% endfor %}
        ]);
        // set chart title
        chart.title("Son Sınav Notları");
        // set chart container and draw
        chart.container("basarim").draw();

        var chart2 = anychart.column([
            {% for i in data2 %}
            ["{{ i[6] }}", {{ i[1] }}],
            {% endfor %}
        ]);
        // set chart title
        chart2.title("Son Sınav Notları");
        // set chart container and draw
        chart2.container("basarim2").draw();

        var chart3 = anychart.column([
            {% for i in data3 %}
            ["{{ i[6] }}", {{ i[1] }}],
            {% endfor %}
        ]);
        // set chart title
        chart3.title("Son Sınav Notları");
        // set chart container and draw
        chart3.container("basarim3").draw();

        var chart4 = anychart.column([
            {% for i in data4 %}
            ["{{ i[6] }}", {{ i[1] }}],
            {% endfor %}
        ]);
        // set chart title
        chart4.title("Son Sınav Notları");
        // set chart container and draw
        chart4.container("basarim4").draw();
    });
</script>
{% endblock %}