{% extends 'base.html' %}

{% block title %}Şifre Değiştirme Sayfası{% endblock %}

{% block headerdropdown %}
{% include "ogrenci/includes/dropdown.html" %}
{% endblock %}

{% block personalinfo %}
{% include "ogrenci/includes/bilgiler.html" %}
{% endblock %}

{% block menu_eleman %}
{% include "ogrenci/includes/menu.html" %}
{% endblock %}

{% block content %}

<div class="small text-secondary mb-5">
    <a href="{{ url_for('home') }}">Anasayfa</a> » Şifre Değiştir
</div>

<div>
    <div class="border-bottom fs-4 pb-2 mb-2 fw-bold">Şifre Değiştir</div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message|safe }}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="{{ url_for('sifreDegistir') }}" method="POST">
        <div class="mb-3">
            <label for="oldp" class="form-label">Eski şifreniz</label>
            <input type="password" name="oldp" id="oldp" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="newp2" class="form-label">Yeni şifreniz</label>
            <input type="password" name="newp" id="newp" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="newp2" class="form-label">Yeni şifrenizi tekrar girin</label>
            <input type="password" name="newp2" id="newp2" class="form-control" required>
        </div>
        <input type="submit" value="Güncelle" class="btn btn-primary">
    </form>
</div>


{% endblock %}

{% block script %}

{% endblock %}